In [1]:
import requests
import json
import pandas as pd
import csv
import re

In [3]:
unmatched = pd.read_csv('Intermediate Files/UnmatchedRd1.csv')

In [7]:
unmatched = pd.read_excel('Intermediate Files/Final2.xlsx', sheet_name = 'Sheet1')

In [8]:
unmatched

                                       Film   A   B   D   F    Genre   S
0                           One Eight Seven  10  11  11  37    Drama  27
1                                Adaptation   7   1  11  39    Drama  15
2                   Airplane II: The Sequel   1   0   7   2   Sci-Fi   4
3   American Shaolin: King of Kickboxers II   2   0   3   0   Action   0
4                                  Batman 2   0   0   0   0  Fantasy   0
..                                      ...  ..  ..  ..  ..      ...  ..
57                              Three Kings   9   6   9   2      War   4
58              The Twilight Saga: New Moon   1   0   8   0   Horror   0
59                       A Monkey in Winter   0   0   0   0   Comedy   0
60               Happy Birthday, Wanda June   4   7  10  10   Comedy  11
61                               White Jazz  13   3   6  39  Mystery  17

[62 rows x 7 columns]

In [9]:
unmatched['Film'].unique()

array(['One Eight Seven', 'Adaptation', 'Airplane II: The Sequel',
       'American Shaolin: King of Kickboxers II', 'Batman 2', 'Bones',
       'Boondock Saints ii: All Saints Day', 'Buffy the Vampire Slayer',
       'Complete Guide to Guys', 'Ed TV', 'Evil Dead II', 'Fright Night',
       'Frozen', 'Glengarry Glen Ross', 'Grosse Point Blank',
       'Harold & Kumar Go to White Castle', 'Hellboy II: The Golden Army',
       'Hellraiser iii: Hell on Earth', 'Crouching Tiger, Hidden Dragon',
       'Raiders of the Lost Ark', 'Kingdom of the Crystal Skull',
       'Jennifer 8', 'Jeux Interdits', 'Kill Bill Volume 1',
       'The Adventure', 'The Devil by the tail', 'Crooks in Cloisters',
       'Sex Lies and Videotape', 'Love & Basketball', 'Mr. Brooks',
       'Synecdoche, New York', 'Poltergeist',
       "Freddy's Dead: The Final Nightmare", 'Pretty Woman',
       'Rambo: First Blood Part II', 'Bodies, Rest & Motion',
       'Return of the Apes', 'I Robot', 'South Park',
       'Star Wars: Episode IV - A New Hope',
       'Star Wars: Episode II - Attack of the Clones',
       'Star Wars: Episode VI - Return of the Jedi',
       'Star Wars: Episode III - Revenge of the Sith',
       'Star Wars: Episode V - The Empire Strikes Back',
       'Star Wars: Episode I - The Phantom Menace',
       'Lock, Stock and Two Smoking Barrels', 'Crazy, Stupid, Love',
       'Terminator 2: Judgment Day', 'The Avengers',
       'The Adventures of Buckaroo Banzai Across the 8th Dimension',
       'Blast from the Past', 'The Day the Clown Cried',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Producer', 'The Sandlot', 'The (The Bijou) Majestic',
       'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
       'Three Kings', 'The Twilight Saga: New Moon', 'A Monkey in Winter',
       'Happy Birthday, Wanda June', 'White Jazz'], dtype=object)

In [10]:
api_url = 'http://www.omdbapi.com/?apikey=ed60cad7&'
responses = []

In [11]:
for m in unmatched['Film'].unique():
    rr = requests.get(api_url, {'t': m})
    responses.append(rr.content)

In [13]:
pd.read_json(responses[0])

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,One Eight Seven,1997,R,30 Jul 1997,119 min,"Drama, Thriller",Kevin Reynolds,Scott Yagemann,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",15 months after being stabbed 9 times by a stu...,...,41,6.7,"21,588",tt0118531,movie,05 Jun 2001,N/A,Warner Home Video,N/A,True
1,One Eight Seven,1997,R,30 Jul 1997,119 min,"Drama, Thriller",Kevin Reynolds,Scott Yagemann,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",15 months after being stabbed 9 times by a stu...,...,41,6.7,"21,588",tt0118531,movie,05 Jun 2001,N/A,Warner Home Video,N/A,True
2,One Eight Seven,1997,R,30 Jul 1997,119 min,"Drama, Thriller",Kevin Reynolds,Scott Yagemann,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",15 months after being stabbed 9 times by a stu...,...,41,6.7,"21,588",tt0118531,movie,05 Jun 2001,N/A,Warner Home Video,N/A,True

In [14]:
unmatched['Film'].unique()[0]

'One Eight Seven'

In [15]:
found = pd.DataFrame()
count = 0
for x in range(len(responses)):
    
    if len(responses[x]) > 100:
        print(unmatched['Film'].unique()[x])
        temp = pd.read_json(responses[x])
        temp['OriginTitle'] = unmatched['Film'].unique()[x]
        found = found.append(temp)

One Eight Seven
Adaptation
Airplane II: The Sequel
Bones
Boondock Saints ii: All Saints Day
Buffy the Vampire Slayer
Complete Guide to Guys
Ed TV
Evil Dead II
Fright Night
Frozen
Glengarry Glen Ross
Harold & Kumar Go to White Castle
Hellboy II: The Golden Army
Hellraiser iii: Hell on Earth
Crouching Tiger, Hidden Dragon
Raiders of the Lost Ark
Kingdom of the Crystal Skull
Jennifer 8
Jeux Interdits
The Adventure
The Devil by the tail
Crooks in Cloisters
Sex Lies and Videotape
Love & Basketball
Mr. Brooks
Synecdoche, New York
Poltergeist
Freddy's Dead: The Final Nightmare
Pretty Woman
Rambo: First Blood Part II
Bodies, Rest & Motion
I Robot
South Park
Star Wars: Episode IV - A New Hope
Star Wars: Episode II - Attack of the Clones
Star Wars: Episode VI - Return of the Jedi
Star Wars: Episode III - Revenge of the Sith
Star Wars: Episode V - The Empire Strikes Back
Star Wars: Episode I - The Phantom Menace
Lock, Stock and Two Smoking Barrels
Crazy, Stupid, Love
Terminator 2: Judgment Day
The Avengers
The Adventures of Buckaroo Banzai Across the 8th Dimension
Blast from the Past
The Day the Clown Cried
The Lord of the Rings: The Fellowship of the Ring
The Producer
The Sandlot
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Three Kings
The Twilight Saga: New Moon
A Monkey in Winter
Happy Birthday, Wanda June

In [16]:
found.to_csv('Intermediate Files/FoundRd3.csv')